html {
  scroll-behavior: smooth;
}

body { 
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	background-color: black;
	color: white;
	font-family: Roboto, sans-serif;
    	margin:40px auto;
    	padding:0 10px;
}

body::-webkit-scrollbar {
  display: none;
}

body a {
	color: gray;
}

.brand {
	text-align: center;
}

.fekvo {
	max-width: 50%;
	max-height: 50%;
	width: auto;
	height: auto;
}

.negyzet {
	max-width: 30%;
        max-height: 30%;
        width: auto;
        height: auto;
}

.allo {
	max-width: 30%;
        max-height: 30%;
        width: auto;
        height: auto;
}

.longlogo {
	width: auto;
	height: auto;
	max-width: 20%
	max-height: 20%
}


.buttonline {
  text-align: center;
  line-height: 54px;
}

a {
  text-decoration: none;
}

a:link { text-decoration: none; color: #80d4ff; }

a:visited { text-decoration: none; color: #80d4ff; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

button.fancy {
  appearance: none;
  border: none;
  border-radius: 10px;
  padding: 2px 20px 5px 10px;
  width: 116px;
  
  cursor: pointer;
  
  color: #fff;
  
  text-align: left;
  
  font-weight: 600;
  line-height: 20px;

  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button.wider {
  appearance: none;
  border: none;
  border-radius: 10px;
  padding: 2px 20px 5px 10px;
  width: 356px;
  
  cursor: pointer;
  
  color: #fff;
  
  text-align: left;
  
  font-weight: 600;
  line-height: 60px;

  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

h2 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

h3 {
	text-align: center;
}

.safety {
	color: gray;
}

.projects {
	text-align: center;
}

.footer {
	text-align: center;
}

.footer a {
	color: gray;
}

.bemutatk {
	text-align: center;
}

/* The navigation menu */
.navbar {
  background-color: white;
  position:fixed;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #1a1a1a;
  color: white;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: gray;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: black;
  text-decoration: none;
}

/* Add a grey background color on hover - legördülő háttere kurzor alatt */
.subnav-content a:hover {
  background-color: #1a1a1a;
  color: gray;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}
